<table class="table table-info">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de termino</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
        <tr>
        <td><%= project.id %></td>
        <td><%= project.tittle %></td>
        <td><%= project.description %></td>
        <td><%= project.starting_date %></td>
        <td><%= project.ending_date %></td>
        <td><%= project.status%></td>
        </tr>  
        <% end %>
    </tbody>
</table>